
Bubble/src/main/java/me/markings/bubble/

target/maven-archiver/

target/maven-status/maven-compiler-plugin/compile/default-compile/

target/classes/me/markings/bubble/settings/

target/classes/localization/

target/classes/me/markings/bubble/

.idea/

target/

Bubble/src/main/resources/plugin.yml

Bubble/src/main/resources/
